{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<style>
		#buscar{
			height:50px;
			width:94%;
			margin:20px;
			outline:0;
			border:2px solid lightgray;
			border-radius: 16px;
			background-color:#f5f5f5;
		}
		.catalogo{
			margin-top:20px;
			display: flex;
			flex-wrap: wrap; 
		}
		.card-plus{
			width:270px;
			height:410px;
			margin:15px;
		}
		.imagen-catalogo{
			width:100%;
			height:200px;
		}
		.botoncito{
			background-color: lightgray;
		}
		
	</style>
</head>
<body>
	{% block header %}
	{% include 'header_despues.html' %}
	{% endblock header %}
	{% block layout %}
	{% include 'encuesta.html' %}
	{% endblock layout %}
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<form class="buscar">
				<input id="buscar" type="text" placeholder="  Buscar oficina" onkeypress="return event.keyCode!=13">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
				{% if lista %}
				<div class="catalogo">
					{% for oficina in lista %}
					<div class="card card-plus" >
						<div class="view overlay">
							<img src={{oficina.foto}} class="imagen-catalogo" alt="MDB Quick Start">
						</div>
						<div class="card-body">
							<h4 class="card-title">{{oficina.nombre}}</h4>
							<h4 style="font-weight: 600">${{oficina.precio}} <span style="font-size:15px;margin-bottom:0px;margin-top:auto;color:lightgray">  /{{oficina.tipo_contrato}}</span></h4>
							<p class="card-text">{{oficina.descripcion|truncatechars:60}}</p>
							<a href="/oficinas/get/{{oficina.id}}" class="btn btn-primary">Ver más</a>
						</div>
					</div>
					{% endfor %}
				</div>
				{% else %}
				<p>No hay referencias.</p>
				{% endif %}
			</div>
		</div>
    </div>
</body>
<footer>
	{% if num_atras > 0 %}
	<button class="botoncito" id="atras" onClick="pasar_pagina(0)">{{num_atras}}</button>
	{% endif %}
	{{pagina}}
	<button class="botoncito" id="alante" onClick="pasar_pagina(1)">{{num_alante}}</button>
</footer>
</html>
<script>
	var url_act = window.location.href;
    $(window).on('load',function(){
    	if(url_act.slice(url_act.lastIndexOf("=")+1,url_act.length)==2)
    		$('#exampleModalLong').modal('show');
    });
	function pasar_pagina(n){
		
		var num_act = parseInt(url_act.slice(url_act.lastIndexOf("%")+1,url_act.length),10);
		n==1 ? num_act +=1 : num_act -=1;
		window.location.href =  url_act.slice(0, url_act.lastIndexOf("%")+1)+num_act.toString(10);
	}
	document.getElementById('buscar').onkeydown = function(event) {
		texto = document.getElementById('buscar').value;
		if (event.keyCode== 13) {
			window.location.pathname = '/oficinas/get/'+texto+'%0';
		}
	}
</script>
